<!DOCTYPE html>
<html>
	<head>
		<title>
		stumpinc
		</title>
		<link href="../css/load.css" rel="stylesheet" type="text/css">
	</head>
	</head>
	<body>
		<header id="header">
			<nav>
				<ul>
					<li><a href="..">HOME</a></li>
					<li><a href="#">ABOUT</a></li>
					<li><a href="../views/gallery.html">GALLERY</a></li>
					<li><a href="../views/contact.html">CONTACT</a></li>
				</ul>
				<article>
					<form title="logIn">
						Username:<input type="text"> 
						<a href="#"><img src="../images/shoppingcart.png"></a> <br />
						Password: <input type="password"> <br />
						<input type="submit" value="Log in">
						<a href="#">Sign Up</a>	
					</form>
				</article>
			</nav>
		</header>
		<main id="about">
			<section>
				<h1>STUMP INC: About</h1>	
				<article>
					<p>
						Has your child been on your computer and gotten a virus? Are you tired of waiting while your computer lags? 

						We can help, come in with your issue and let our technicians become magicians. We can make your computer run like new again and back-up all important documents, photo's, and video's. For the flat rate of $75 we will backup all personal data, re-format your computer, re-install your genuine operating system, restore all your backup personal data, and install a FREE Antivirus / Firewall.

						Don’t wait any longer! Come see us at 2635 N. Harlem Chicago, IL 60707 or call/text us today at (630) 202-8781. <br />
					</p>
				</article>
			</section>
		</main>
		<footer id="footer">
			<h2> copyrightlegal noticeprivacy policy your California privacy rights product recalls site map AdChoices</h2>
			<h3> &#169;jcp Media Inc., 2014. All Rights Reserved</h3>
		</footer>
	</body>